body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: #fafafa;
    /* background: #50009f; */
    color: #3f3f3f;
}

.large-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -1;
}

.large-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    /* background: #f1f1f1e0; */
    color: #fff;
    padding: 15px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 170px !important;
}

.nav-links {
    position: relative;
    top: 4px;
}

.menu-item {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 700;
    transition: border 140ms;
    padding: 7px 1px 2px 1px;
}

.menu-item:hover {
    cursor: pointer;
    border-bottom: 2.5px solid #fff;
    transition: border 110ms;
}

.menu-item a {
    color: #fff;
}

.menu-item a:hover {
    text-decoration: none;
}

.text-over-img {
    color: #efefef;
    position: absolute;
    top: 35vh;
    left: 10vw;
    /* z-index: -1; */
}

.back-white {
    background: #efefef;
    z-index: 2;
}

.content {
    margin-top: 100vh;
    z-index: 3;
}

.content img {
    width: 100%;
}

.container {
    width: 100%;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 2px;
}

h2 {
    font-size: 44px;
}

h4 {
    font-size: 34px;
}

.colored-title {
    color: #9e009a;
    font-weight: 900;
    text-transform: uppercase;
}

.light-purple-color {
    color: #94098f;
}

.footer-content {
    color: #efefef;
    padding: 40px;
}

.socials {
    font-size: 2rem;
}

.social {
    padding-bottom: 4px;
}

.social:hover {
    cursor: pointer;
    border-bottom: 1.5px solid #efefef;
}

.footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dark-text {
    color: #3f3f3f !important;
    transition: border 110ms;
}

.dark-text a {
    color: #3f3f3f !important;
}

.dark-text .menu-item:hover {
    border-bottom: 2.5px solid #3f3f3f !important;
    transition: border 110ms;
}

.dark-text:hover {
    border-color: #3f3f3f;
}

.main-btn {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #3d00a0;
    font-weight: 700;
    transition: all 300ms;
}

.main-btn:hover {
    background: #a7009a;
    color: #fafafa;
    border: 1px solid #a7009a;
    transition: all 300ms;
}

.main-btn-colored {
    background: #a7009a;
    border: 1px solid #a7009a;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #fafafa;
    font-weight: 700;
    transition: all 300ms;
}

.main-btn-colored:hover {
    background: #bd15af;
    border: 1px solid #bd15af;
    transition: all 300ms;
}

.secondary-btn {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #3d00a0;
    font-weight: 700;
    transition: all 300ms;
}

.secondary-btn:hover {
    background: #5621aa;
    color: #fafafa;
    border: 1px solid #5621aa;
    transition: all 300ms;
}

.form-input {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    padding: 7px 20px 7px 20px;
    border: 1px solid #fafafa;
    border-radius: 30px;
    color: #fafafa;
    width: 100%;
    font-size: 14px;
}

.form-input:focus {
    outline: 0 !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fafafa;
    opacity: 1;
    font-size: 14px;
    /* Firefox */
}

.form-btn {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 7px 25px 7px 25px;
    border-radius: 30px;
    color: #3d00a0;
    font-weight: 700;
    transition: all 300ms;
    font-size: 14px;
    /* margin-left: 15px; */
}

.form-btn:hover {
    cursor: pointer;
    background: #5621aa;
    color: #fafafa;
    border-color: #5621aa;
    transition: all 300ms;
}

.form-btn:focus {
    outline: 0 !important;
}

.light-text {
    color: #999999;
}

.underlined {
    border-bottom: 2.5px solid #a7009a;
}

.extra-bold {
    font-weight: 900 !important;
}

.purple-text {
    color: #a7009a !important;
}

.white-text {
    color: #fafafa !important;
}

.purple-background {
    background: #50009f;
}

.white-back {
    background: #fafafa;
}

a {
    color: #a7009a;
}

a:hover {
    color: #a7009a;
    text-decoration: underline;
}


/** About Page Styling **/
.mission-text {
    position: absolute;
    top: 34vh;
}

.about-content {
    margin-top: 100vh;
    background: #fafafa;
}

.about-content p {
    font-size: 15px;
}

.white-nav {
    background: #fafafa;
    border-bottom: 2px solid #a7009a;
}

hr {
    width: 20%;
    color: #a7009a;
    background: #a7009a;
    padding: 2px;
}

.user-content {
    padding-top: 5%;
}

.small-hr {
    width: 100% !important;
    background: #d1d1d1 !important;
    padding: 0px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bio-text {
    margin-top: 0px;
    font-size: 12px !important;
}

.job-title-text {
    margin-top: 0px;
}

.person-social {
    font-size: 22px;
    margin-top: 5px;
}


/** Styling for contact page **/
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
    outline: none;
    border: 1px solid #a7009a;
    transition: border 200ms;
}

.contact-form input {
    width: 100%;
    margin-bottom: 3vh;
    padding: 10px;
    color: #3f3f3f;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.contact-form textarea {
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
    padding: 10px;
    color: #3f3f3f;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.contact-form ::placeholder {
    color: #757575;
}

.contact-form label {
    font-weight: 700;
}

/** Styling for Registration page **/
.registration-content {
    margin-left: 50vw;
    width: 50vw;
    height: 100vh;
    background: #fafafa;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    padding: 50px 45px 25px 45px;
}

.register-form {
    margin-top: 5.5vh;
}

.register-form input:focus,
.register-form select:focus,
.register-form textarea:focus,
.register-form button:focus {
    outline: none;
    border: 1px solid #a7009a;
    transition: border 200ms;
}

.register-form input {
    width: 100%;
    margin-bottom: 3vh;
    padding: 10px 20px 10px 20px;
    color: #3f3f3f;
    border-radius: 25px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.register-form textarea {
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
    padding: 10px;
    color: #3f3f3f;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.register-form ::placeholder {
    color: #757575;
}

.register-form label {
    font-weight: 700;
    margin-left: 20px;
}

#checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

#checkbox:hover {
    cursor: pointer;
}

.marked {
    background: #a7009a;
}

.checkbox-text {
    position: relative;
    bottom: 2.5px;
    margin-left: 8px;
}

.logo {
    position: fixed;
    top: 20px;
    left: 40px;
}