html {
    overflow-x: hidden;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: #fafafa;
    /* background: #50009f; */
    color: #3f3f3f;
    width: 100%;
}

p {
    line-height: 1.65rem;
}

h2 {
    font-weight: 900;
}

.large-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -1;
}

.large-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 170px !important;
}

.dark-background {
    background: #3f3f3f;
}

.nav-logo {
    position: absolute;
    top: 15px;
    left: 30px;
}

.navigation-desktop {
    text-shadow: 0 0.4px #6d6d6d;
    text-align: right;
    padding: 32px;
}

.nav-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items li {
    display: inline;
}

.nav-item {
    color: #fff !important;
    margin-right: 20px;
}

.nav-item a {
    color: #fff !important;
}

.nav-item a:hover {
    text-decoration: none;
    color: #fff;
}

.navbar-light .nav-link {
    color: #3f3f3f !important;
}

.navbar-light .menu-item:hover {
    border-bottom: 2.5px solid #3f3f3f !important;
}

.menu-item {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 700;
    transition: border 140ms;
    padding: 7px 1px 2px 1px;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0);
}

.menu-item:hover {
    cursor: pointer;
    border-bottom: 2.5px solid #fff;
    transition: border 110ms;
}

.text-over-img {
    color: #fafafa;
    position: absolute;
    top: 35vh;
    left: 10vw;
    width: 70vw;
    /* z-index: -1; */
}

.back-white {
    background: #f9f9fb;
    z-index: 2;
}

.content {
    margin-top: 100vh;
    z-index: 3;
}

.content img {
    width: 100%;
}

.container {
    width: 100%;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 2px;
}

h2 {
    font-size: 44px;
}

h4 {
    font-size: 34px;
}

.title {
    color: #3f3f3f;
    font-weight: 900;
}

.colored-title {
    color: #e67428;
    font-weight: 900;
    text-transform: uppercase;
}

.light-purple-color {
    color: #ff95b2;
}

.footer-content {
    color: #efefef;
    padding: 40px;
    font-weight: 600;
}

.socials {
    font-size: 2rem;
}

.social {
    padding-bottom: 4px;
}

.social:hover {
    cursor: pointer;
    border-bottom: 1.5px solid #efefef;
}

.footer-link a {
    color: #efefef;
}

.footer-link:hover a {
    color: #3f3f3f;
    cursor: pointer;
    text-decoration: underline;
}

.dark-text {
    color: #3f3f3f !important;
    transition: border 110ms;
}

.dark-text a {
    color: #3f3f3f !important;
}

.nav-item a .dark-text {
    color: #3f3f3f !important;
}

.dark-text .menu-item:hover {
    border-bottom: 2.5px solid #3f3f3f !important;
    transition: border 110ms;
}

.dark-text:hover {
    border-color: #3f3f3f;
}

.main-btn {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #ff9500;
    font-weight: 700;
    transition: all 300ms;
}

.main-btn:hover {
    background: #ff9500;
    color: #fafafa;
    border: 1px solid #ff9500;
    transition: all 300ms;
}

.main-btn-outline {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fafafa;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #fafafa;
    font-weight: 700;
    transition: all 300ms;
}

.main-btn-outline:hover {
    background: #fafafa;
    color: #01043b;
    border: 1px solid #fafafa;
    transition: all 300ms;
}

.main-btn-sm {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 10px 25px 8px 25px;
    border-radius: 30px;
    color: #01043b;
    font-weight: 700;
    transition: all 300ms;
    font-size: 14px;
}

.main-btn-sm:hover {
    background: #655b88;
    color: #fafafa;
    border: 1px solid #655b88;
    transition: all 300ms;
}

.main-btn-sm-outline {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fafafa;
    padding: 10px 25px 8px 25px;
    border-radius: 30px;
    color: #fafafa;
    font-weight: 700;
    transition: all 300ms;
    font-size: 14px;
}

.main-btn-sm-outline:hover {
    background: #fafafa;
    color: #3f3f3f;
    border: 1px solid #fafafa;
    transition: all 300ms;
}

.main-btn-colored {
    background: #e67428;
    border: 1px solid #e67428;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #fafafa;
    font-weight: 700;
    transition: all 300ms;
}

.main-btn-colored:hover {
    /* background: #ff95b2; */
    background: #ff9500;
    border: 1px solid #ff9500;
    transition: all 300ms;
}

.main-btn-colored-sm {
    background: #ff9500;
    border: 1px solid #ff9500;
    padding: 8px 25px 8px 25px;
    border-radius: 30px;
    color: #fafafa;
    font-weight: 700;
    transition: all 300ms;
    font-size: 14px;
}

.main-btn-colored-sm:hover {
    /* background: #ff95b2; */
    background: #e67428;
    border: 1px solid #e67428;
    transition: all 300ms;
}

.secondary-btn {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 14px 25px 14px 25px;
    border-radius: 30px;
    color: #ff9500;
    font-weight: 700;
    transition: all 300ms;
}

.secondary-btn:hover {
    background: #ff9500;
    color: #fafafa;
    border: 1px solid #ff9500;
    transition: all 300ms;
}

.form-input {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    padding: 7px 20px 7px 20px;
    border: 1px solid #fafafa;
    border-radius: 30px;
    color: #fafafa;
    width: 100%;
    font-size: 14px;
}

.form-input:focus {
    outline: 0 !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fafafa;
    opacity: 1;
    font-size: 14px;
    /* Firefox */
}

.form-btn {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 7px 25px 7px 25px;
    border-radius: 30px;
    color: #ff9500;
    font-weight: 700;
    transition: all 300ms;
    font-size: 14px;
    /* margin-left: 15px; */
}

.form-btn:hover {
    cursor: pointer;
    background: #ff9500;
    color: #fafafa;
    border-color: #ff9500;
    transition: all 300ms;
}

.form-btn:focus {
    outline: 0 !important;
}

.light-text {
    color: #999999;
}

.underlined {
    border-bottom: 2.5px solid #ff9500;
}

.extra-bold {
    font-weight: 900 !important;
}

.purple-text {
    color: #ff9500 !important;
}

.white-text {
    color: #fafafa !important;
}

.purple-background {
    background: #e67428;
}

.white-back {
    background: #fafafa;
}

a {
    color: #ff9500;
}

a:hover {
    color: #ff9500;
    text-decoration: underline;
}


/** About Page Styling **/
.mission-text {
    position: absolute;
    top: 37vh;
    width: 100vw;
}

.about-content {
    margin-top: 100vh;
    background: #fafafa;
}

.about-content p {
    font-size: 15px;
}

.white-nav {
    background: #fafafa;
    border-bottom: 2px solid #ff9500;
}

hr {
    width: 20%;
    color: #ff9500;
    background: #ff9500;
    padding: 2px;
}

.user-content {
    padding-top: 5%;
}

.user-margin-top {
    margin-top: 7vh;
}

.small-hr {
    width: 100% !important;
    background: #d1d1d1 !important;
    padding: 0px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bio-text {
    margin-top: 0px;
    font-size: 12px !important;
    line-height: 1.1rem;
    font-style: italic;
}

.bio-author-text {
    font-size: 12px !important;
}

.job-title-text {
    margin-top: 0px;
}

.person-social {
    font-size: 22px;
    margin-top: 5px;
}

.avatar-img {
    border-radius: 300px;
}

.bio-link {
    color: #3f3f3f;
}

.bio-link:hover {
    color: #ff9500;
    cursor: pointer;
}


/** Styling for contact page **/
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
    outline: none;
    border: 1px solid #ff9500;
    transition: border 200ms;
}

.contact-form input {
    width: 100%;
    margin-bottom: 3vh;
    padding: 10px;
    color: #3f3f3f;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.contact-form textarea {
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
    padding: 10px;
    color: #3f3f3f;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.contact-form ::placeholder {
    color: #757575;
}

.contact-form label {
    font-weight: 700;
}

.border-bottom-color {
    border-bottom: 2.5px solid #ff9500;
}

/** Styling for Registration page **/
.registration-content {
    margin-left: 50vw;
    width: 50vw;
    height: 100vh;
    background: #fafafa;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    padding: 50px 45px 25px 45px;
}

.register-form input:focus,
.register-form select:focus,
.register-form textarea:focus,
.register-form button:focus {
    outline: none;
    border: 1px solid #ff9500;
    transition: border 200ms;
}

.register-form input {
    width: 100%;
    margin-bottom: 3vh;
    padding: 10px 20px 10px 20px;
    color: #3f3f3f;
    border-radius: 25px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.register-form textarea {
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
    padding: 10px;
    color: #3f3f3f;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    transition: border 200ms;
}

.register-form ::placeholder {
    color: #757575;
}

.register-form label {
    font-weight: 700;
    margin-left: 20px;
}

#checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

#checkbox:hover {
    cursor: pointer;
}

.marked {
    background: #ff9500;
}

.checkbox-text {
    position: relative;
    bottom: 2.5px;
    margin-left: 8px;
}

.logo-fixed {
    position: fixed;
    top: 20px;
    left: 40px;
}

/** Animations **/
#flip {
    height: 85px;
    overflow: hidden;
}

#flip>div>div {
    color: #fafafa;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 6s linear infinite;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}




/** Media Queries **/
@media only screen and (min-device-width : 300px) and (max-device-width : 812px) {
    .mission-text {
        position: absolute;
        top: 20vh;
        width: 100vw;
    }

    .large-hero img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transition: height 200ms;
    }

    h1 {
        font-size: 60px;
    }

    .text-over-img {
        top: 30vh;
        left: 10vw;
    }

    .center-small {
        text-align: center !important;
    }

    .margin-top-sm {
        margin-top: 30px;
    }

    .menu-item:hover {
        border-bottom: 2.5px solid rgba(0, 0, 0, 0);
    }

    .nav-logo {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .logo-fixed {
        position: relative;
        width: 100vw;
        border-bottom: 2.5px solid #ff9500;
        left: 0px;
        padding-left: 11px;
        padding-bottom: 15px;
        background: #fafafa;
        height: auto;
        top: 0px;
        padding-top: 15px;
    }

    .registration-content {
        margin-left: 0;
        width: 100vw;
        height: 100%;
        background: #fafafa;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;
        padding-top: 7vh;
        padding-bottom: 10vh;
    }

    .register-form {
        margin-top: 3vh;
    }

    .underlined {
        border-bottom: 2.5px solid rgba(0, 0, 0, 0);
    }

    .main-btn-sm {
        top: 0px !important;
        left: -12px;
    }

    #flip {
        display: none;
    }

    .main-btn-sm {
        background: #fafafa;
        border: 1px solid #fafafa;
        padding: 14px 50px 12px 50px;
        border-radius: 30px;
        color: #01043b;
        font-weight: 700;
        transition: all 300ms;
        font-size: 16px;
    }

    .mobile-padding {
        padding-top: 10vh !important;
    }
}



.hamburger {
    position: fixed;
    top: 1vh;
    right: 2vw;
    z-index: 100;
}

#side-menu {
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    padding-top: 15vh;
    position: fixed;
    right: 0vw;
    top: 0;
    z-index: 99;
    color: #fafafa !important;
}

#side-menu a,
#side-menu a:visited {
    color: #fafafa !important;
    text-decoration: none;
}

#side-menu a:hover {
    cursor: pointer;
    color: #000 !important;
    background: #FFCC02;
}

#side-menu ul {
    list-style: none;
    font-size: 24px;
    text-align: center;
    padding: 0;
}

#side-menu li {
    margin-bottom: 5vh;
}